

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    
}

.input-design{
    width: 320px;
    height: 30px;
    border: none;
    margin-right:5px;
}

h1{color:#fff;
    margin-bottom: 20px;
    margin-top: 10px;
}

.button-design{
    border: none;
    width: 60px;
    height: 30px;
    background-color: brown;
    cursor: pointer;
    color:#fff;
}

.main{
     display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
   
}

.design-ul{
   
    width: 400px;
    margin-top:20px;
    height: auto;
    display: block;
    
}

.design-ul li{
    background-color: aqua;
   list-style:none;
   padding: 10px;
   margin-top:50px;
}


button:disabled{
    cursor:no-drop !important;
    
}

input{padding-left:10px;}

.design-button-all{
    width:80px;
    height: 35px;
    background-color: crimson;
    color:#fff;
    border:none;
    margin-right: 20px;
    margin-top: 10px;
}