.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body{background-color:gray;}

.contact-form{
  width:80%;
  height: 80vh;
  background-color: orange;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

form{
  width:100%;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  margin: 50px;
  
}

form input{
  height: 20px;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: end;
}

form input placeholder{
  
  padding: 10px;
}

button{
  width: 150PX;
  height: 56PX;
  background-color: aqua;
  border: none;
  font-size: 18px;
  margin-left: 11px;
  cursor: pointer;
  
}

.header-section{
  width: 80%;
  height: auto;
  /* background-color: aquamarine; */
  margin: auto;
}

.header-section h1{
  text-align: center;
}

.main-card{

  width:80%;
  height: 400px;
  /* background-color: #61dafb; */
  display: flex;
  margin: auto;


}


.main-card .first{
  width:33.3%;
  height: 400px;
  /* background-color: blue; */
  position: relative;
  top:0;
  left: 0;

}

.main-card .first img{
  width: 100%;
  height: auto;
}



.main-card .first  .up{
  /* background-color: chartreuse; */
  position: absolute;
  top: 80px;
  left: 150px;
 
}


.main-card .second{
  width: 33.3%;
  height: 400px;
  /* background-color:brown; */
  margin-left: 20px;
  margin-right: 20px;
  
}
   

.main-card .second img{
  width: 100%;
  height: auto;
 

}




.main-card .third{
  width:33.4%;
  height: 400px;
  /* background-color:cyan; */
  
}


.main-card .third img{
  width: 100%;
  height: auto;
 

}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
